


@font-face {
    font-family: "Helvetica";
    src: url(../fonts/Helvetica.ttc);
}

@font-face {
    font-family: "Cosi";
    src: url(../fonts/Cosi.otf);
}

@font-face {
    font-family: "Khmer";
    src: url(../fonts/Khmer.ttf);
}

.container-fluid {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(242, 242, 242);
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 1;
}

.navbar-desktop {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
}

.navbar ul {
    font-family: "Helvetica";
    font-size: 15px;
    list-style-type: none;
    width: 70%;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.nav-item a {
    color:black;
    text-decoration: none;
    display: block;
}

.nav-item a:hover {
    color:black;
    text-decoration: underline 3px blue;
}

.navbar-mobile {
    display: none; 
}

.offcanvas {
    width: 75%;
    background-color: rgba(0,0,0,0.90);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.offcanvas-header {
    justify-content: flex-end;
}

.navbar-nav .nav-item .nav-link {
    font-size: xx-large;
    color: rgb(242,242,242);
    line-height: 100px;
}

/*.navLogo {
    display: flex;
    justify-content: left;
    align-items: center;
}

.navMenu, .menuBurger {
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}*/

/* Home */

.textoPh1 {
    font-family: "Cosi";
    font-size:800%;
    line-height: 0.75;
}

.textoPh2 {
    font-family: "Helvetica";
    font-size:800%;
    line-height: 0.75;
}

.textoPh3 {
    font-family: "Helvetica";
    font-size:800%;
    font-style: oblique;
    line-height: 0.75;
}

.textoPh4 {
    font-family: "Cosi";
    font-size:800%;
    line-height: 0.75;
}

.h6 {
    padding-top: 300px;
    padding-left: 10px;
    color: rgb(242, 242, 242);
    z-index: 0;
    position: fixed;
    font-size: calc(0.1rem + 0.75vw);
    transition: all 1s;
}
.h6:hover {
    color: black;
    transition: all 1s;
    text-decoration: underline solid 5px blue;
}

.textoPh4:hover {
    color: orangered;
}

.foto_main, .portfolio_film, .about_img, .contact_img, .services_1, .services_2, .contact_img1, .contact_img2 {
    line-height: 0px;
    padding-top: 100px;
}

.foto_1, .foto_2, .portfolio_1, .portfolio_2, .portfolio_3, .portfolio_4, .portfolio_5, .portfolio_6 {
    line-height: 0px;
}

/* Portfolio */

.portfolio_7 {
    padding: 5%;
    line-height: 0px;
    display: flex;
    align-items: center;
    background-color: black;
}

/* Services */

.texto-bloque-serv-1, .texto-bloque-serv-2, .texto-bloque-serv-3 {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
    font-family: "Cosi";
    color: rgb(242, 242, 242);
    text-decoration: underline solid 3px orangered;
}

.texto-bloque-serv-1 {
    font-size: calc(6rem + 0.5vw);
    padding-top: 200px;
}
.texto-bloque-serv-2 {
    font-size: calc(6rem + 0.5vw);
    padding-top: 400px;
}
.texto-bloque-serv-3 {
    font-size: calc(6rem + 0.5vw);
    padding-top: 600px;
}

/* About Me */

.about_text {
    font-family: "Helvetica";
    color:black;
    background-color: rgb(242,242,242);
    font-size: small;
    text-align: center;
    line-height: normal;
    margin: 20%;
    padding: 5%;
    position: fixed;
    transition: all 5s ease;
}

.about_text:hover {
    transform: skew(1deg);
    transition: all 3s ease;
    background-color: blue;
    color: white;
}

/* Contact */

.form {
    color: black;
    font-family: "Helvetica";
    font-size: small;
    background-color: rgb(242, 242, 242);
    padding: 10px 40px;
    width: 50%;
}

.mb-3 {
    margin-left: 10px;
    margin-right: 10px;
}

.form-label {
    font-size: medium;
    font-family: "Cosi";
}

/*.contact_form {
    display: flex;
    position: fixed;
    justify-content: center;
    justify-self: center;
    padding-top: 17%;
}

.button1 {
    background-color: lightgray;
    color: rgb(242, 242, 242);
    padding: 5%;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
}

.button1:hover {
    background-color:gray;
    color: rgb(242, 242, 242);
    padding: 5%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.button2 {
    background-color: blue;
    color: rgb(242, 242, 242);
    padding: 5%;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
}

.button2:hover {
    background-color: darkblue;
    color: rgb(242, 242, 242);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 5%;
    text-transform: uppercase;
}
*/

/* Footer */

footer {
    background-color: blue;
    padding: 20px 40px;
}

footer ul {
    font-family: "Helvetica";
    color: rgb(242,242,242);
    list-style-type: none;
    font-size: small;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    width: 100%;
    max-width: 400px;
    margin: 0px auto;
    padding-bottom: 10px;
    padding-top: 20px;
}

footer ul a {
    color: rgb(242,242,242);
    text-decoration: none;
}

footer ul a:hover {
    color: rgb(242, 242, 242);
    text-decoration: underline white;
}

footer p {
    color: rgb(242,242,242);
    font-family: "Helvetica";
    font-size: x-small;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}


/* Media Queries */

@media screen and (max-width: 820px) {
    footer ul {
        font-size: medium;
        padding: 0px;
        padding-top: 20px;
    }
    .navbar-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .navbar-desktop {
        display: none;
    }
    .contact-2 {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    footer ul {
        font-size: small;
    }
    footer p {
        padding-bottom: 0px;
    }
    .navbar-nav .nav-item .nav-link {
        font-size: medium;
    }
    .texto-bloque-serv-1 {
        font-size: calc(0.5rem + 2vw);
        padding-top: 200px;
    }
    .texto-bloque-serv-2 {
        font-size: calc(0.5rem + 2vw);
        padding-top: 400px;
    }
    .texto-bloque-serv-3 {
        font-size: calc(0.5rem + 2vw);
        padding-top: 600px;
    }
}